# ─── SOLANA ──────────────────────────────
NEXT_PUBLIC_SOLANA_RPC_URL=your_value_here
NEXT_PUBLIC_SOLANA_NETWORK=your_value_here
NEXT_PUBLIC_SHADOWPAY_PROGRAM_ID=your_value_here

# ─── HELIUS ──────────────────────────────
HELIUS_API_KEY=your_value_here
HELIUS_WEBHOOK_SECRET=your_value_here

# ─── MONGODB ATLAS ───────────────────────
MONGODB_URI=your_value_here

# ─── FIREBASE ────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=your_value_here
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_value_here
NEXT_PUBLIC_FIREBASE_DB_URL=your_value_here
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_value_here
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_value_here
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_value_here
NEXT_PUBLIC_FIREBASE_APP_ID=your_value_here

# ─── ARCIUM ──────────────────────────────
NEXT_PUBLIC_ARCIUM_CLUSTER_URL=your_value_here

# ─── WORLD ID ────────────────────────────
NEXT_PUBLIC_WORLD_APP_ID=your_value_here
WORLD_ID_ACTION=your_value_here
WORLD_ID_PRIVATE_KEY=your_value_here

# ─── PRIVY ───────────────────────────────
NEXT_PUBLIC_PRIVY_APP_ID=your_value_here
PRIVY_SECRET=your_value_here

# ─── MOONPAY ─────────────────────────────
NEXT_PUBLIC_MOONPAY_KEY=your_value_here
MOONPAY_SECRET_KEY=your_value_here

# ─── UPLOADTHING ─────────────────────────
UPLOADTHING_SECRET=your_value_here
UPLOADTHING_APP_ID=your_value_here

# ─── APP ─────────────────────────────────
NEXT_PUBLIC_APP_URL=your_value_here
